<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>404 - Ken Burns Effect</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <div class="item-title">
      <div id="message">
        <h1>Error 404 </h1>
        <span>
          <h1>Page not found!</h1>
        </span>
      </div>
      <div class="link-bottom">
        <a class="link-icon" href="/">
          <h1></i> HOME
        </a></h1>
      </div>
    </div>
  </div>
</body>

</html>