{{!-- <form action="/restaurants" method="POST">
  <input type="text" placeholder="餐廳名稱" name="name">
  <input type="text" placeholder="餐廳地點" name="location">
  <input type="text" placeholder="餐廳電話" name="phone">
  <button type="submit">Create</button>
</form> --}}

<div class="container mt-5" style="display: flexbox;">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        <div class="card mb-3">
          <img class="card-img-top" src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5635/01.jpg"
            alt="預設圖片">
          <div class="card-body p-3">
            <form action="/restaurants" method="POST">
              <input type="text" placeholder="餐廳名稱" name="name">
              <input type="text" placeholder="餐廳類別" name="category">
              <input type="text" placeholder="餐廳地點" name="location">
              <input type="text" placeholder="餐廳電話" name="phone">
              <input type="text" placeholder="評分(1~5分)" name="rating" value="3">
              <input type="text" placeholder="簡單評論" name="description" value="這是間好餐廳">
              <input type="text" placeholder="圖片網址" name="image"
                value="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5635/01.jpg">
              <button type="submit">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>